<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo registro</title>
</head>
<body>
    {% if erro != None %}
        {{ erro }}
    {% endif %}
    <header>
        <h1>Criação de pessoa</h1>
    </header>
    <form method="post">
        {% csrf_token %}
        <label>Nome: </label>
        <input name="nome" />
        <label>Idade: </label>
        <input name="idade" />
        <button type="submit">Criar</button>
    </form>
</body>
</html>