<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Listar pessoas</title>
</head>
<body>
    <header>
        <h1>Listagem de pessoas</h1>
    </header>
    <ul>
        {% for pessoa in object_list %}
            <li>{{ pessoa.id }}. {{ pessoa.nome }} - {{ pessoa.idade }}</li>
        {% endfor %}
    </ul>
</body>
</html>