<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <title>App Django</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">Minha primeira aplicação Django</a>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="mailto:junior.alvesp99@gmail.com">Contato</a>
            <a href="https://www.github.com/pjrildo" target="_blank">GitHub</a>
        </div>
    </div>
    <button onclick="location.href='/pessoas'" type="button">Gerenciar pessoas</button>
</body>
</html>